@CHARSET "ISO-8859-1";

body {
	margin: auto;
}

.body-footer-wrapper {
	width: 100%;
	height: 100%;
}

.login-wrapper {
	margin: auto;
	width: 800px;
	height: 600px;
	
}

.footer {
	position: absolute;
    bottom: 0;
    width: 99%
}