@CHARSET "ISO-8859-1";

/* http://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar */

body {
 margin: auto;
}

.navbar {
 text-align: center;
 
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown-movies:hover .dropbtn .dropdown-login:hover {
    background-color: #ffa500;
}

li.dropdown-movies {
    display: inline-block;
}

li.dropdown-login {
    display: inline-block;
}

.movies-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.movies-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.movies-content a:hover {
 background-color: #ffa500
}
.dropdown-movies:hover .movies-content {
    display: block;
}

.login-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.login-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.login-menu a:hover {
background-color: #ffa500
}
.dropdown-login:hover .login-menu {
    display: block;
}