@CHARSET "ISO-8859-1";

.navbar-customer {
	float: right;
	margin: 0;
	border: 15px solid #333;
	padding: 0;
	
	display: block;
	width: 200px;
	
}

.nav-customer-button {
	border: 1px solid #333;
    background-color: #ff4045;
	width: auto;
	padding: 8px 16px;
	
}

.nav-customer-button a {
	text-decoration: none;
}

.nav-customer-button-text {
	color: white;
	font-size: 20px;
}

/* Change the link color on hover */
.nav-customer-button:hover {
    background-color: #ffa500;
    color: white;
}