@CHARSET "ISO-8859-1";

body {max-width: 100%;}

table {
 box-sizing: border-box;
 width: 90%;
 padding: 5px; 
 text-align: left; 
 margin-left: auto; 
 margin-right: auto; 
 border: 2px solid #0080ff;
}

th {
 text-align: left; 
 border: 2px solid #00ff00; 
 padding: 1px; 
 background-color: #CCCC00;
}

td {
 border: 2px solid #FFFFFF; 
 padding: 1px;
}

tr:nth-child(even){
 background-color: #D3D3D3
}

tr:nth-child(odd){
 background-color: #F0F0F0
}

p {
 margin-left: auto; 
 margin-right: auto;
 width: 90%;
 border: 2px solid #A52A2A; 
 padding: 1px;
}